<!-- About section-->
<section class="page-section bg-primary" id="apply">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Apply for relief funds</h2>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">Funding is availalbe for restaurant workers experiencing loss of income in King County due to COVID-19. Apply now for support.</p><a class="btn btn-light btn-xl js-scroll-trigger"
                    href="#services">Apply</a></div>
        </div>
    </div>
</section>
