<div class="row justify-content-center">
  <div class="col-4 align-self-baseline">
    <p class="font-weight-light mb-5">{{ site.subtitle }}</p>
    <a class="btn btn-dark btn-xl js-scroll-trigger"
       href="https://fund.uptogether.org/kingcounty-cod" style="margin-bottom: 1rem">
      Apply with code
    </a>
  </div>
  <div class="col-4 align-self-baseline">
    <a class="btn btn-dark btn-xl js-scroll-trigger"
       href="https://fund.uptogether.org/kingcounty-code">
      Apply without a code
    </a>
  </div>
</div>
