<header class="masthead text-center">
  <a class="js-scroll-trigger" href="/#page-top"><img class="logo-apply" src="../img/theplatefund_logo.png"></a>
  <h1>Apply for Financial Assistance</h1>
</header>

<section class="page-section call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 mb-4">
        <p>
          Many of your lives have been upended as your employers have
          been forced to cut hours, suspend their business,
          permanently close and lay off employees.
        </p>
        <p>
          If you have urgent, necessary expenses that you are unable
          to pay for until you receive federal assistance or
          unemployment insurance, or if you do not qualify for those
          benefits, The Plate Fund may be able to assist you with a
          $500 emergency relief grant.
        </p>
      </div>
    </div>
    {% include apply_buttons.html %}
  </div>
</section>

<section class="page-section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <h2 class="mb-5 centered">Frequently Asked Questions</h2>
        <h5 class="mb-3">
          Who is eligible to receive funds?
        </h5>
        <p class="font-weight-light">
          Anyone who lives in King County, worked in a restaurant or
          food service establishment and has experienced a reduction
          in hours or been laid off as a result of the COVID-19 crisis
          can apply, including dishwashers, cooks, servers,
          bartenders, food truck employees and cafe attendants.
        </p>
        <h5 class="mb-3">
          What documentation do I need to apply?
        </h5>
        <p class="font-weight-light">
          Applicants will be required to provide documentation to
          verify that they live in King County, worked in a restaurant
          and were laid off as a result of the COVID-19
          crisis. Applicants will be required to:
        </p>
        <ul class="font-weight-light">
          <li>Upload a pay stub dated on or after March 1, 2020;</li>
          <li>Upload one form of government issued identification or two forms of alternate identification that includes an applicant’s residential address;</li>
          <li>Demonstrate that their gross income is no more than $62,000 per year, inclusive of tips;</li>
          <li>Provide bank account information;</li>
          <li>Verify that they have experienced a decrease in work hours or loss of their job.</li>
        </ul>
        <h5 class="mb-3">
          How do I prove a decrease in work hours or loss of job due to COVID-19?
        </h5>
        <p class="font-weight-light">
        </p>
        <h5 class="mb-3">
          Do I need a Social Security number to be eligible to receive funds?
        </h5>
        <p class="font-weight-light">
          Social Security numbers are not required.
        </p>
        <h5 class="mb-3">
          What if I don’t have a bank account?
        </h5>
        <p class="font-weight-light">
          We recognize a small percentage of restaurant workers do not
          have bank accounts. We are working to add functionality to
          provide payments via debit or gift cards in the coming
          weeks. We will also provide applicants with information
          about where they may open <a
          href="https://www.seattlecu.com/" target="_blank">no-cost
          bank accounts</a>.
        </p>
        <h5 class="mb-3">
          What do I do if I receive a code from my employer?
        </h5>
        <p class="font-weight-light">
          The Plate Fund is providing electronic codes to restaurant
          owners to distribute to affected workers who are in the
          greatest need. If you receive an electronic code, visit the
          website, enter the code and upload the required
          documentation.
        </p>
        <h5 class="mb-3">
          Who is reviewing the applications? How are they analyzed?
        </h5>
        <p class="font-weight-light">
          UpTogether, a digital capital exchange platform that helps
          low-income people accelerate their economic mobility, will
          review and process applications. Payments will be disbursed
          based on the order in which they are received so long as
          applicants are eligible and submit all of the required
          documentation.
        </p>
        <h5 class="mb-3">
          Is the application available in languages other than English?
        </h5>
        <p class="font-weight-light">
          Yes, the application is also available in Spanish.
        </p>
        <h5 class="mb-3">
          How will I be notified if I’m approved?
        </h5>
        <p class="font-weight-light">
          Applicants will receive an email confirming their approval from UpTogether. 
        </p>
        <h5 class="mb-3">
          How and when will the funds be disbursed and available?
        </h5>
        <p class="font-weight-light">
          Applicants, if eligible, may receive funding as soon as 48
          hours after completing their application. UpTogether aims to
          process applications as fast as possible, however there may
          be a delay of up to four days based on the volume of
          applications received.
        </p>
        <h5 class="mb-3">
          Are funds disbursed on a first come, first served basis?
        </h5>
        <p class="font-weight-light mb-5">
          Yes.
        </p>
      </div>
    </div>
    {% include apply_buttons.html %}
  </div>
</section>
