<header class="masthead text-center">
  <a class="js-scroll-trigger" href="{{ site.baseurl }}/"><img class="logo-apply" src="{{ "/img/theplatefund_logo.png" | prepend: site.baseurl_root }}"></a>
  <h1>{% translate apply.title %}</h1>
</header>

<section class="page-section call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 mb-4">
        {% for p in site.translations[site.lang]["apply"]["overview_content"] %}
        <p>{{ p }}</p>
        {% endfor %}
      </div>
    </div>
    {% include apply_buttons.html %}
  </div>
</section>

<section class="page-section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <h2 class="mb-5 centered">{% translate apply.faq_title %}</h2>
        {% for qa in site.translations[site.lang]["apply"]["faq_content"] %}
        <h5 class="mb-3">
          {{ qa[0] }}
        </h5>
        {% for answer in qa[1] %}
        <p class="font-weight-light">{{ answer }}</p>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    {% include apply_buttons.html %}
  </div>
</section>
