<div class="row justify-content-center">
  <small class="col-12 no-code-unavailable mb-5">
    {% translate apply.unavailable_for_no_code %}
  </small>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-3 justify-content-center text-center">
    <a class="btn btn-dark btn-xl js-scroll-trigger mb-3 mb-lg-0"
       href="https://fund.uptogether.org/kingcounty-code">
      {% translate apply.button_code %}
    </a>
  </div>
  <div class="col-12 col-lg-3 justify-content-center text-center">
    <a class="disabled btn btn-dark btn-xl js-scroll-trigger"
       href="https://fund.uptogether.org/kingcounty">
      {% translate apply.button_no_code %}
    </a>
  </div>
</div>
