<section class="page-section call-to-action">
  <div class="row justify-content-center">
    <div class="apply col-md-6 col-lg-5 col-xl-4 justify-content-center mb-5 mb-md-0">
      <div class="container text-center">
        <h2 class="mt-0 mb-3">{% translate home.need_help %}</h2>
        <p class="mb-3">
          Restaurant workers who live in King County may be eligible for $500 in immediate assistance. Learn more about the program and apply in minutes.
        </p>
        <a id="apply" href="/apply" class="btn btn-dark btn-xl js-scroll-trigger">Learn More &amp; Apply</a>
      </div>
    </div>
    <div class="donate col-md-6 col-lg-5 col-xl-4 justify-content-center">
      <div class="container text-center">
        <h2 class="mt-0 mb-3">{% translate home.want_to_help %}</h2>
        <p class="mb-3">
          The Plate Fund is powered by your generosity. Donate directly to help our neighbors in need.
        </p>
        <a href="{{ site.donate_url }}" class="btn btn-dark btn-xl js-scroll-trigger">Donate</a>
      </div>
    </div>
  </div>
</section>
