<section class="page-section call-to-action">
  <div class="row justify-content-center">
    <div class="apply col-md-6 col-lg-5 col-xl-4 justify-content-center mb-5 mb-md-0">
      <div class="container text-center">
        <h2 class="mt-0 mb-3">Need Help?</h2>
        <p class="mb-3">
          Restaurant workers who live in King County are eligible for up to $500 in immediate
          assistance. Learn about the program and apply in minutes.
        </p>
        <a id="apply" href="/apply" class="btn btn-dark btn-xl js-scroll-trigger">Learn More & Apply</a>
      </div>
    </div>
    <div class="donate col-md-6 col-lg-5 col-xl-4 justify-content-center">
      <div class="container text-center">
        <h2 class="mt-0 mb-3">Want to help?</h2>
        <p class="mb-3">
          The Plate Fund is powered by <b>your</b> generosity. You can help our neighbors in need by contributing directly today.
        </p>
        <a href="{{ site.donate_url }}" class="btn btn-dark btn-xl js-scroll-trigger">Donate Now</a>
      </div>
    </div>
  </div>
</section>
