<div class="row">
  <div class="apply col-sm-6">
    <div class="justify-content-center">
        <div class="text-center">
            <h2 class="mt-0">Apply to get help.</h2>
            <p class="mb-2">Apply DESCRIPTION TApply DESCRIPTION Apply DESCRIPTION</p><a id="apply" href="/apply" class="btn btn-dark btn-xl js-scroll-trigger">Apply</a></div>
    </div>
  </div>
  <div class="donate col-sm-6">
    <div class="justify-content-center">
        <div class="text-center">
            <h2 class="mt-0">Want to help? Donate here.</h2>
            <p class="mb-2">DONATE DESCRIPTION TEXTDONATE DESCRIPTION TEXTDONATE DESCRIPTION TEXTDONATE DESCRIPTION TEXT</p><a id="donate" href="/apply" class="btn btn-dark btn-xl js-scroll-trigger">Donate</a></div>
    </div>
  </div>
</div>
