<!-- About section-->
<section class="page-section bg-primary" id="apply">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="mt-0">Want to help? Donate here.</h2>
        <hr class="divider light my-4">
        <p class="mb-4">
          Funding will go to restaurant workers experiencing loss of income in King County due to COVID-19.
        </p>
        <a id="donate" href="{{ site.donate_url }}" class="btn btn-dark btn-xl js-scroll-trigger">
          Donate
        </a>
      </div>
    </div>
  </div>
</section>
