<section class="page-section bg-secondary" id="donate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-9 col-lg-8 font-weight-light">
        <h2 class="mt-0 text-center mb-4">{% translate home.donate_button %}</h2>
        <h5>{% translate home.donate_title %}</h5>
        <p>
          {% translate home.donate_overview %}
        </p>

        <h5>{% translate home.donate_help_title %}</h5>
        {% for p in site.translations[site.lang]["home"]["donate_help_content"] %}
        <p>
          {{ p }}
        </p>
        {% endfor %}
        <div class="justify-content-center text-center">
          <a href="{{ site.donate_url }}" class="btn btn-dark btn-xl js-scroll-trigger mb-4">
            {% translate home.donate_button %}
          </a>
        </div>
        <p>
          {% translate home.donate_subtext %}
        </p>
      </div>
    </div>
  </div>
</section>
