<footer class="bg-light py-5">
  <div class="container">
    {% include contact.html %}
    <div class="row justify-content-center">
      <div class="text-center socials" style="font-size: 3rem">
        <a href="https://www.instagram.com/theplatefund/" target="_blank"><svg class="icon icon-instagram-square" style="margin-right: 0.5rem"><use xlink:href="#icon-instagram-square"></use></svg></a>
        <a href="https://twitter.com/theplatefund" target="_blank"><svg class="icon icon-twitter-square" style="margin-right: 0.5rem"><use xlink:href="#icon-twitter-square"></use></svg></a>
        <a href="https://www.facebook.com/ThePlateFund/" target="_blank"><svg class="icon icon-facebook-square" style="margin-right: 0.5rem"><use xlink:href="#icon-facebook-square"></use></svg></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="{{ site.baseurl }}/legal">Legal</a>
    </div>
  </div>
</footer>
