<footer class="bg-light py-5">
  <div class="container">
    {% include contact.html %}
    <div class="row justify-content-center">
      <div class="text-center socials" style="font-size: 3rem">
        <a href="https://www.instagram.com/theplatefund/" target="_blank"><i class="fab fa-instagram-square" style="margin-right: 0.5rem"></i></a>
        <a href="https://twitter.com/theplatefund" target="_blank"><i class="fab fa-twitter-square" style="margin-right: 0.5rem"></i></a>
        <a href="https://www.facebook.com/ThePlateFund/" target="_blank"><i class="fab fa-facebook-square" style="margin-right: 0.5rem"></i></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="{{ site.baseurl }}/legal">Legal</a>
    </div>
  </div>
</footer>
