<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-9 col-lg-8">
        <div class="row justify-content-center">
          <h2 class="mb-4">Frequently Asked Questions</h2>
        </div>
        <div class="row">
          <div>
            <h5 class="mb-3">
              Why focus on workers in the restaurant industry?
            </h5>
            <p class="font-weight-light">
              The restaurant industry is being particularly hard hit
              by the COVID-19 crisis. The National Restaurant
              Association recently predicted that restaurants across
              the country will lose $225 billion in business, and that
              5 to 7 million service and kitchen jobs could be lost
              over the next three months. And the effects are
              certainly being felt right here in King County. When the
              COVID-19 crisis hit the Seattle area, more than 100,000
              people were employed at some 5,000 food establishments
              in King County. Thousands of restaurants have suspended
              operations, closed and let go a majority or their
              staffs.
            </p>
            <p class="font-weight-light">
              The Washington State Employment Security Department
              reported that accommodation and food service
              unemployment claims rose ten-fold in a single week
              during the third week of March and reached over 68,000
              total new claims for the month. Every single one of King
              County’s more than 5,000 restaurants are being impacted,
              especially single-establishment and smaller restaurants
              that may not have the resources to support their staffs
              through the crisis. A vast majority of these workers
              rely on every paycheck, as well as tips, to support
              themselves and their families. They need to pay for
              necessities like food, housing, baby products and
              medicine now.
            </p>
          </div>
          <div>
            <h5 class="mb-3">
              Why can’t workers rely on the government support via stimulus payments and unemployment benefits?
            </h5>
            <p class="font-weight-light">
              Government support is on the way for many, but for a lot
              of workers it is not arriving quickly enough. King
              County’s unemployment system has seen a more than 2,000%
              rise in claims in just three short weeks and is working
              through a backlog of these claims, delaying payments to
              many of those in need. Similarly, the individual
              Economic Impact Payments offered as part of the Federal
              Government’s CARES Act might take between three and four
              months to reach some recipients. This means many of our
              local restaurant workers currently have reduced or no
              income to cover rent, food, utilities, healthcare and
              other basic needs. The Plate Fund hopes to help fill
              this gap with an immediate cash infusion of $500.
            </p>
          </div>
          <div>
            <h5 class="mb-3">
              Why provide cash?
            </h5>
            <p class="font-weight-light">
              Timing matters most. While there is no direct
              comparison, we can take lessons from other
              initiatives. Quick cash transfers at moments of need
              have proven effective as a disaster response and in
              helping people avoid housing instability and food
              insecurity. Cash is the best tool. Cash provides
              individuals with the flexibility to meet their most
              urgent needs. There is a strong global evidence base
              that cash transfers are efficient and effective,
              particularly when delivered intentionally and at the
              right moment. It also reduces administrative costs,
              freeing up resources to reach more people.
            </p>
          </div>
          <div>
            <h5 class="mb-3">
              How does it work?
            </h5>
            <p class="font-weight-light">
              The Plate Fund provides $500 emergency relief grants to
              individuals in King County who have lost their jobs in
              the restaurant industry or are experiencing
              significantly reduced hours of work due to the COVID-19
              crisis. The application is a simple process. To apply,
              applicants must:
            </p>
            <ul class="font-weight-light">
              <li>Upload a pay stub dated on or after March 1, 2020;</li>
              <li>Upload one form of government issued identification or two forms of alternate identification that includes an applicant’s residential address;</li>
              <li>Demonstrate that their gross income is no more than $62,000 per year, inclusive of tips;</li>
              <li>Provide bank account information;</li>
              <li>Verify that they have experienced a decrease in work hours or loss of their job.</li>
            </ul>
            <p class="font-weight-light">
              Payments are made electronically. Applicants may receive
              funding as soon as 48 hours after their application is
              approved. Applications will be processed as fast as
              possible, however processing times may vary based on the
              volume of applications received.
            </p>
            <p class="font-weight-light">
              Applications are reviewed and processed by UpTogether, a
              digital capital exchange platform that helps low-income
              people accelerate their economic mobility.
            </p>
            <p class="font-weight-light">
              We recognize a small percentage of restaurant workers do
              not have bank accounts. We are working to add
              functionality to provide payments via debit or gift
              cards in the coming weeks. We will also provide
              applicants with information about where they may open
              no-cost bank accounts. In addition, we have created a
              way for restaurant owners and managers to target these
              relief payments to their most needy former employees. In
              some cases, The Plate Fund will provide unique codes to
              restaurant owners to distribute directly to affected
              workers. Individuals who receive a code will have to
              complete the online application, but their applications
              will receive expedited processing.
            </p>
          </div>
          <div>
            <h5 class="mb-3">
              How is The Plate Fund different from other efforts helping people financially impacted by the pandemic?
            </h5>
            <p class="font-weight-light">
              The fund is different from most other services currently
              available in King County because it provides immediate
              and direct financial assistance to individuals, not to
              organizations.
            </p>
          </div>
          <div>
            <h5 class="mb-3">
              Who is behind The Plate Fund effort?
            </h5>
            <p class="font-weight-light">
              The Schultz Family Foundation created the fund, which
              has been seeded with more than $4 million in partnership
              with All In Seattle, the Seattle Foundation and
              UpTogether, as well as with restaurant owners and other
              local organizations, including: Charlie’s Produce;
              Amperity; Seattle Restaurant Alliance; Seattle
              Restaurants United; Washington Hospitality Association;
              Starbucks Foundation; Tom Douglas and Eric Tanaka (Tom
              Douglas Seattle Kitchen); Renee Erickson (Bateau, The
              Whale Wins, The Walrus and the Carpenter, among others);
              Efrem Fesaha (Boon Boona Coffee); Julian Hagood (Harry’s
              Fine Foods, Harry’s Beach House); Wassef Haroun
              (Mamnoon); Rodney Hines (Metier Brewing Company); Taylor
              Hoang (Taylor Hoang Restaurants Inc., Seatac Airport
              Restaurants, Pho Cyclo Cafe, District One Saigon); Trey
              Lamont (Jerk Shack); Edouardo Jordan (JuneBaby, Salare,
              Lucinda); Melissa Miranda (Musang); Donna Moodie
              (Marjorie’s); Tamara Murphy and Linda Di Lello Morton
              (Terra Plata); and Ethan Stowell (Ethan Stowell
              Restaurants).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
