<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-9 col-lg-8">
        <div class="row justify-content-center">
          <h2 class="mb-4">{% translate home.donate_faq %}</h2>
        </div>
        <div class="row">
          <div>
            {% for qa in site.translations[site.lang]["home"]["donate_faq_content"] %}
            <h5 class="mb-3 mt-5">
              {{ qa[0] }}
            </h5>
            {% for answer in qa[1] %}
            <p class="font-weight-light">{{ answer }}</p>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
