<header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 justify-content-center ">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 id="apply" class="text-uppercase text-white font-weight-bold">{{ site.headline }}</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
              <p class="text-white-75 font-weight-light mb-5">{{ site.subtitle }}</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://fund.uptogether.org/kingcounty" style="margin-bottom: 1rem">Apply with code</a>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://fund.uptogether.org/kingcounty-code">Apply without a code</a>
            </div>
          </div>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-6 justify-content-center">
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qq7ncjhSqtk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
</header>
