<section class="page-section bg-secondary overview">
  <div class="row justify-content-center">
    <div class="col-10 col-md-9 col-lg-8 col-xl-6 align-self-center justify-content-center">
      <div class="row">
        <div class="col align-self-end">
          <h3 class="mb-4 text-center">{% translate home.overview_title %}</h3>
        </div>
        <div class="align-self-baseline">
          {% for p in site.translations[site.lang]["home"]["overview_content"] %}
          <p class="col font-weight-light">
            {{ p }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
