<div class="row">
  <div class="col-md-6 justify-content-center ">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
          <h1 id="apply" class="text-uppercase font-weight-bold">MASTHEAD OVERVIEW HEADER</h1>
          <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
          <p class="font-weight-light mb-2">This is some sample OVERVIEW TEXT we will want to replace later...</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 masthead-video justify-content-center">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qq7ncjhSqtk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
