<section class="page-section stories">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="text-center">
          <h2 class="mt-0 mb-4">{% translate home.stories_title %}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      {% for story in site.translations["en"]["home"]["stories"] %}
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-2">
        {% assign img = story[1]["name"] | prepend: site.image_base_url %}
        <picture>
          <source srcset="{{ img | append: '.webp'}}" type="image/webp">
          <source srcset="{{ img | append: '.jpg'}}" type="image/jpeg">
          <img src="{{ img | append: '.jpg' }}" alt="{{ story[0] }}" style="width: 100%"/>
        </picture>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <strong>{{ story[0] }}</strong>
        <blockquote class="font-weight-light">{{ story[1]["story"] }}</blockquote>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
